.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.LoginBox {
  width: 350px;
  padding: 30px;
  /* 안쪽 여백을 더 크게 설정 */
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* 그림자 효과를 더 강조 */
  border-radius: 15px;
  /* 로그인 창의 꼭지점을 더 둥글게 */
  border: 2px solid #dee2e6;
  /* 경계선을 좀 더 부각 */
  text-align: center;
  margin: 20px;
  /* LoginBox와 다른 컴포넌트 사이의 간격을 추가 */
}

.ButtonBox {
  display: grid;
  /* 버튼 간 간격을 더 넓게 설정 */
  padding: 5px 0;
}

.checkBox {
  padding: 10px;
}

.SignUpBox {
  width: 600px;
  padding: 30px;
  /* 안쪽 여백을 더 크게 설정 */
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* 그림자 효과를 더 강조 */
  border-radius: 15px;
  /* 로그인 창의 꼭지점을 더 둥글게 */
  border: 2px solid #dee2e6;
  /* 경계선을 좀 더 부각 */
  text-align: center;
  margin: 20px;
  /* LoginBox와 다른 컴포넌트 사이의 간격을 추가 */
}

.input-group {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 10px; /* 각 그룹 간 간격 */
}

.form-label {
  margin-right: 10px; /* 라벨과 입력 필드 간격 */
  min-width: 80px; /* 라벨의 최소 너비 (정렬 보장) */
  text-align: right; /* 라벨 텍스트 오른쪽 정렬 */
}

.label-left {
  width: 140px;
  /* 레이블의 고정 너비 */
  text-align: left;
  margin-right: 10px;
}

/* 공통 버튼 컨테이너 */
.login-button-container {
  display: flex;
  justify-content: center;
  /* 버튼을 중앙 정렬 */
  margin: 10px 0;
  /* 버튼 위아래 간격 */
}

/* 버튼 이미지 크기 통일 */
.login-button-image {
  height: 58px;
  width: 270px;
  object-fit: cover;
  /* 이미지 왜곡 방지 */
}

/* Google Login 버튼도 같은 크기와 스타일 */
div[role="button"] {
  height: 58px !important;
  width: 270px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}